My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1120,
        0
      ],
      "id": "609dbbef-495b-4841-a3de-fdd15d7b612d",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "9IyETP0vzWcMqemM",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        464,
        0
      ],
      "id": "37bdefb1-9210-446c-b77b-45b0a6b2550a",
      "name": "When chat message received",
      "webhookId": "24f1f0b5-7168-4823-971c-f54484d852ae"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a SQL assistant for MySQL.\n\nDatabase: online_retail\nTable: sales(Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer_ID, Country)\n\nRules:\n- Output exactly ONE SQL SELECT query only (no markdown, no backticks, no “sql” prefix).\n- NEVER use INSERT, UPDATE, DELETE, DROP, ALTER.\n- Default LIMIT 20 unless the user explicitly asks for a number.\n- Max LIMIT is 100. If user asks for more, cap to 100.\n- If the user asks “first N rows / show rows / sample rows”, use:\n  SELECT * FROM sales LIMIT N;\n- If user asks “most sold item”, interpret as highest total Quantity:\n  SELECT Description, SUM(Quantity) AS total_sold\n  FROM sales\n  WHERE Description IS NOT NULL AND Description <> ''\n  GROUP BY Description\n  ORDER BY total_sold DESC\n  LIMIT 1;\n- Revenue = Quantity * Price (use this only when the question is about revenue).\n- Always use aliases for computed columns (e.g., total_sold, total_revenue).\n\n\n\nIf the user asks to categorize items, first retrieve the top 100 descriptions by total quantity:\nSELECT Description, SUM(Quantity) AS total_sold\nFROM sales\nWHERE Description IS NOT NULL AND Description <> ''\nGROUP BY Description\nORDER BY total_sold DESC\nLIMIT 100;\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "6adfe619-765f-4342-8c3b-bab0df97859a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        272
      ],
      "id": "ac1b57e1-1668-4986-9076-4f7cc7f85e42",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BxqrY4x26AAMomWr",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = $json.text;\n\n// Remove leading \"sql\", code fences, and trim whitespace\nconst cleaned = raw\n  .replace(/^sql\\s*/i, '')\n  .replace(/```sql/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nreturn [\n  {\n    query: cleaned\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "866ceb8d-dfcd-4959-bc3f-42dcf0918ef8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful data analytics chatbot.  \nYou will receive: \n1) A user's natural language question\n 2) The results of a SQL query already executed on an online retail database  Your job:\n - Answer in clear, friendly English\n - Include a small markdown table if multiple rows are returned \n - Format numbers with commas and 2 decimal places\n - Add ONE short insight (trend, ranking, or notable gap)\n - Do NOT mention SQL, databases, or technical details\n\nIf the user asks to \"categorize items\" or \"group products\":\n- Create 6–10 high-level retail categories based on the Description text (e.g., Home & Decor, Kitchen, Stationery, Toys, Seasonal/Christmas, Gifts, Bags & Storage, Lighting).\n- Assign each item to exactly one category.\n- Return a markdown table with columns: Category | Example Items (3–5) | Total Quantity (sum of total_sold for items in that category).\n- Then add 1–2 short insights (e.g., biggest category, which categories dominate).\n- Do not mention SQL or the database."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=User question:\n{{ $node[\"When chat message received\"].json.chatInput }}\n\nQuery results:\n{{ JSON.stringify($json.results, null, 2) }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1472,
        0
      ],
      "id": "73340569-8a8a-4876-876c-2f53baabbd2d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsCode": "// Collect all rows from MySQL into a single object\nconst rows = items.map(item => item.json);\n\nreturn [\n  {\n    results: rows\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        0
      ],
      "id": "1b5f53fa-f4b5-442b-a3e0-cc0ef3b989e9",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "539fba3d-6513-452f-bcf6-24f16548759d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3ce82b8c40f506b1402dd1fffa631cbe39c49dde82dfa1d353e1db68084b4bb"
  },
  "id": "K-9xL3zwSGsyaSJpCbtxt",
  "tags": []
}